html {
    font-size: 62.5%; /* Facilite l'utilisation des unités 'rem' (1rem = 10px) */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40rem; /* 400px */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #222;
}

.calculator-screen {
    width: 100%;
    height: 10rem; /* 100px */
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 1rem 2rem;
    font-size: 5rem; /* 50px */
    border: none;
    box-sizing: border-box;
}

.calculator-keys {
    display: grid;
    /* 4 colonnes de taille égale */
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding: 1rem;
}

button {
    height: 6rem; /* 60px */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #eee;
}

.operator {
    background-color: #f5923e;
    color: #fff;
}

.operator:hover {
    background-color: #f37021;
}

.all-clear {
    background-color: #d9534f;
    color: #fff;
}

.all-clear:hover {
    background-color: #c9302c;
}

.equal-sign {
    background-color: #2e86c0;
    color: #fff;
    /* Fait en sorte que le bouton "=" prenne 2 colonnes */
    grid-column: 4 / 5;
    grid-row: 2 / 6;
    height: 100%;
}

.equal-sign:hover {
    background-color: #1a659e;
}
